.main-card {
  margin-bottom: 95px;
}

.main-card-h1 {
  color: #282b2f;
  font-size: 44px;
  font-weight: 700;
  line-height: 54px;
}

.main-card-h3 {
  color: #282b2f;
  font-size: 28px;
  font-weight: 700;
  line-height: 38px;
}

.main-card-h4 {
  color: #282b2f;
  font-size: 22px;
  font-weight: 700;
  line-height: 38px;
}

.main-card-p {
  color: #465a64;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  margin-top: 39px;
}

.main-card-img {
  margin-top: 39px;
  height: 374px;
}

.main-list-title {
  color: #546e7a;
  font-size: 20px;
  font-family: "Rubik-italic";
  line-height: 28px;
  margin-top: 36px;
  margin-bottom: 30px;
}

.main-card-ul {
  padding-left: 12px;
  list-style-position: inside;
  list-style-type: none;
  margin-bottom: 28px;
}

.card-ul-link {
  color: #1976d2;
  font-family: 'Rubik-italic';
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-decoration: underline;
}

.main-card-ul>li {
  margin-bottom: 26px;
}

.main-card-ul>li::before {
  content: "";
  background: #546e7a;
  display: inline-block;
  width: 12px;
  height: 2px;
  margin-left: -12px;
  margin-bottom: 5px;
}

.main-card-ol {
  margin-top: 34px;
  padding: 0;
  list-style-position: inside;
  margin-bottom: 0;
}

.main-card-ol>li {
  margin-bottom: 26px;
}

.main-card-ol>li:last-child {
  margin-bottom: 0;
}

.main-card-grid {
  display: flex;
  margin: 42px -12px;
  overflow: hidden;
}

.main-card-side-img {
  width: 35%;
  padding: 0 12px;
  height: 300px;
  margin: 0;
}

.main-card-center-img {
  flex-grow: 1;
  padding: 0 12px;
  height: 300px;
  margin: 0;
}

.grid-image-left {
  height: 100%;
  background: url(../../images/left.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.grid-image-center {
  height: 100%;
  background: url(../../images/center.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.grid-image-right {
  height: 100%;
  background: url(../../images/right.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-card-set>div:last-child {
  padding-bottom: 50px;
  border-bottom: 1px solid #e0e9f0;
  margin-bottom: 50px;
}

.no-margin {
  margin: 0;
}



