.table {
  display: table;
  width: 100%;
  border: none;
  color: #282b2f;
  font-size: 16px;
  font-weight: 400;
  line-height: 38px;
  text-align: center;
  border-spacing: 0;
}

.table-head {
  display: table-header-group;
  font-size: 18px;
  font-weight: 600;
}

.table-body {
  display: table-row-group;
}

.table-body .table-row:nth-child(odd) {
  background: #f8f8f8;
}
  
.table-row {
  display: table-row;
  height: 60px;
}

.table-col {
  display: table-cell;
  vertical-align: middle;
}

.table-link {
  color: #1976d2;
  font-family: 'Rubik-italic';
  text-decoration: underline;
}

.table-link:visited {
  color: orange;
}

.table-link:hover {
  color: green;
}